<h2 class="text-center"> Edit User</h2>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-7 col-md-offset-5">
        <div class="jumbotron">
            <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
                <table  class="table table-hover" >
                    <thead>
                    <tr>
                                            <!-- l'entete de la table -->
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Authorization</th>
                      <th>Telechargement</th>
                      <th>Authoriser</th>
                      <th>update</th>
                    </tr>
                    </thead>
                    <tbody>
                                        <!-- les contenues de la table -->
                    <tr >
                    <td><input readonly="true" type="id" name="id" formControlName="id"  autocomplete="off" class="form-control input-sm"></td>
                    <td><input readonly="true" type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" ></td>
                    <td><input readonly="true" type="email" name="email" formControlName="email"   autocomplete="off" class="form-control input-sm " ></td>
                    <td><input readonly="true" type="Authorization" name="Authorization" formControlName="Authorization"   class="form-control input-sm" > </td>
                    <td>

                      <section class="example-section">
                                     <!-- le bouton checkbox pour autorisé un user a telecharger des donnees -->

                        <div *ngIf=" tel==0 ; then dothis else doelse"></div>
                        <ng-template #dothis> <mat-checkbox class="example-margin"  [checked]="false" (change)="checked=!checked" (click)="checkCheckBoxvalue(!checked)"  >Checked</mat-checkbox></ng-template>
                        <ng-template #doelse> <mat-checkbox class="example-margin"  [checked]="true" (change)="checked=!checked" (click)="checkCheckBoxvalue(checked)"  >Checked</mat-checkbox></ng-template>

                       
                      </section>
                    </td>
                  <td >                
                        <!-- le bouton switch toggle pour autoriser un user a acceder au dashboard -->

                         <div *ngIf=" aut==0; then faire else no"> </div>
                         <ng-template #faire>  <mat-slide-toggle  [checked]="false" (change)="checked=!checked" (click)="getstatus(!checked)">Authoriser</mat-slide-toggle> </ng-template>
                         <ng-template #no>     <mat-slide-toggle  [checked]="true"  (change)="checked=!checked" (click)="getstatus(checked)">Authoriser</mat-slide-toggle> </ng-template>
                       
                        
                  </td>
                      <td>  <button type="submit" class="btn btn-primary">update</button></td>
                    </tr>
                    </tbody>
                  </table>
                
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
  
</div>



