<p></p>
<h2 class="text-center"> </h2>

<div class="row" >
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <form autocomplete="off" >
                <!-- affiche un message apres avoir changer sont mot de passe -->
               
<span > 
    <h2>
        votre mot de passe a été changé
         
             <button  (click)="login()" class="btn btn-link" style="color: red">Cliquez ici pour vous connecter</button> 
           
         </h2> 
</span>   
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
