<p></p>
<h2 class="text-center">Connexion</h2>
                                   
<div class="row" >
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <!-- envoi du formulaire de Connexion -->
            <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
                <div  style="color:red" ><h2>{{Message()}}</h2></div>
                <div class="form-group">
                               <!-- le formulaire de Connexion -->
                    <label for="email">Adresse e-mail</label>
                    <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="adresse e-mail">
 
                </div>
                <div class="form-group">
                    <label for="Password">Mot de passe</label>
                    <input type="password" name="Password" formControlName="password"  autocomplete="off" class="form-control input-sm" placeholder="Mot de passe">
 
                </div>
                <p></p><button type="submit" class="btn btn-primary" >Connexion</button>
                <p></p>
                <div class> 
                     <button style="color: rgb(228, 125, 125)" class="btn btn-link"  (click)="forgetPassword()">mot de passe oublié</button> &nbsp; 
                     <button style="color:green" class="btn btn-link"  (click)="redirectToRegister()">je n'ai pas de compte </button>
               
               </div>
           
                
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
 
</div>
