<p></p>
                    <!-- affiche un message : quand user n'est pas autorisé par l'admin -->


<h2 class="text-center"> </h2>

<div class="row" >
    <div class="col-md-3">
    </div>
    <div class="col-md-5 col-md-offset-3">
        <div class="jumbotron">
            <form autocomplete="off" >
               
<span > 
    <h2>
      <em> Veuillez attendre l'autorisation de l'administrateur pour avoir acc&egrave;s au menu </em>      

        
    </h2> 
</span>   
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
