<script src="extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>

<div class="container">               
    <div class="row">
      <div class="col-md-12">
        <p></p>
 
         <!-- on crée une table pour lister les users de la base -->

        <h2 class="text-center"  ><button class="btn btn-info"   onclick="document.getElementById('myInput').value = ''" (click)="getall()" >Gestion des utilisateurs</button></h2>
       <!-- <button class="btn btn-success text-right"  (click)="addUser()"> Add User</button>-->

       <!-- <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for names.."> -->
           <p></p>

           <!-- une formulaire pour chercher un user dans le tableau -->
       <form  [formGroup]="searchFormGroup" (ngSubmit)="handleSearchUser()">
        <div class="input-group">
          <label class="input-group-text">KEYWORDS:</label>
          <input type="text" id="myInput" class="form-control" formControlName="SEARCH" placeholder="ex : utilisateur ou email ">
          <button class="btn btn-info"> 
            <!-- <i class="bi bi-search"></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </div>
      </form>
      <p></p>

        <table  class="table table-striped" class="table table-hover"  id="myTable">
       
        
          <thead>
          <tr>
                 <!-- l'entete de la table -->
            <th>ID</th>
            <th>Utilisateur</th>
            <th>Email</th>
            <th>E-mail status </th>
            <th>Date de creation</th>
            <th>supprimer utilisateur</th>
            <th>Telechargement</th>
            <th>Authorisation</th>
           
           
            <th>Edit</th>
          </tr>
          </thead>
          <tbody>
            <!-- le les contenues de la table -->
          <tr *ngFor="let user of users | slice: (page-1) * pageSize : page * pageSize " class="item">
            
            <td>{{user.Id}}</td>
            <td>{{user.name}}</td>
          
            <td>{{user.email}}</td>
            <td> 
              <div *ngIf="user.status=='active' ;else elseblocks " ><p style="color:darkblue"> confirmer</p></div>
              <ng-template  #elseblocks><p style="color:orange"> à attente</p></ng-template>
            </td>
            <td>{{user.date}}</td>

            <td>
              <button class="btn btn-warning" (click)="deleteuserdetails(user)"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg></button>
          </td> 
                  <td>



                     <div *ngIf="user.Telechargement==1 ;else el " > <p>    <button mat-flat-button color="primary" >
                        <mat-icon>get_app</mat-icon></button> </p></div>
                      <ng-template  #el><p> 

                        <button mat-flat-button color="warn" >
                        <mat-icon>lock</mat-icon>
                        </button></p></ng-template>

                    <!-- <mat-icon>get_app</mat-icon>
                    <mat-icon>lock</mat-icon>
                    <mat-icon>check</mat-icon>
                    <mat-icon>cancel</mat-icon> -->
                  </td>


                  <td > <div *ngIf="user.Authorization==1 ;else elseblock " > <p> <mat-icon class="icon1">check_box</mat-icon>  </p></div>
                    <ng-template  #elseblock><p> <mat-icon class="icon2">cancel</mat-icon> </p></ng-template></td>
             
            
            <td>  <button class="btn btn-success" (click)="updateUser(user)" style="margin-left: 1px;">Modifier</button></td>
              
              
          </tr>
          </tbody>
        </table>
                         <!-- pour la pagination dans le tableau -->
        <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize">
      </ngb-pagination>

      


      </div>
    </div>
  </div>



