
<h2 class="text-center">Réinitialisation du mot de passe </h2>

<div class="row" >
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <form autocomplete="off" >
                <!-- affiche le message apres avoir  réinitialiser son mot de passe -->
               
<span > 
    <h2>
        Un lien pour réinitialiser le mot de passe a été envoyé à l'e-mail
         <cite>
             <u style="color:blue">{{getUserEmail()}} </u> 
            </cite>
         </h2> 
</span>   
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
