.form-control{
    height: 50px;
}

.jumbotron{
    margin-top: 6%;
    background-color: #324ead;
}


.btn2{
    background-color:#324ead;
    padding: 10px;
    margin: 50px;
    margin-left: 20%;
    width: 20%;
    border: hsl(223, 33%, 96%);
    border-radius: 3px;

   
}
.btn2:hover{
    background-color: #1c3da8;

}
.btn2:disabled{
    background-color:#5476e9; 
}

.btn3{ 
    background-color:#324ead;
    padding: 10px;
    width: 15%;
    margin: 50px;
    border: hsl(223, 33%, 96%);
    border-radius: 3px;

}
.btn3:hover{
    background-color: #1c3da8;
}
.btn3:disabled{
    background-color:#5476e9; 
}

label{
    margin-top: 50%;
    margin:20px;
}

.input-group{
    padding: 3px;
    margin-top: 5%;
}
.form-control{
    border-radius: 10px;
   border-width: 2px;
}
.accordion-button{
    margin-top: 6%;
}
.accordion-button:is(.collapsed) {
    color: inherit;
   
    background: #324ead;
}
.accordion-button:hover{
background-color: #24409c;
}
.chart-container{
    width: 60%;
    margin-left: 20%;
}

.a1{
    color: white;
    
}
.a2{
    color: white;
    font-size: 18px;
    
}
.a3{
    font-size: 18px;
    color: #0d52a0;
    white-space: 20px;
}

mat-icon{
    color: white;
}
