

    
        <form #b="ngForm" (ngSubmit)="onSearch(b.value)" [formGroup]="form">
          
          <div class="row" >
            <div class="col-md-2">
            </div>
            
            <div class="col-md-6 col-md-offset-3">
              
                <div class="jumbotron">
         <!--saisir le mot clé-->
         <div class="form-group">
          <input type="text" formControlName="keyword" name= keyword class="form-control" placeholder="Keyword" aria-label="keyword" ngModel required>
         </div>
          <!--saisir le nombre d'enregistrement-->
          <div class="form-group">
          <input type="number" formControlName="size" name= size class="form-control" placeholder="le nombre d'enregistrement" aria-label="size" ngModel required>
          </div>
          <!--bouton pour envoyer la requete à l'api d'elasticsearch-->
          <button class="btn btn-success" type="submit"  [disabled]="!form.valid"><mat-label class="a1"> Appliquer</mat-label></button>
          
        </div>
     
            </div>
          </div>
          
        
        


<!--bouton pour afficher la visualisation-->
<button (click)="Visualisation()" class="btn2" [disabled]="!form.valid"><mat-icon>show_chart</mat-icon><mat-label class="a2"> Visualisation</mat-label></button>

<!--affichage des visualisations-->
<div class="chart-container">
  <canvas id="canvas">{{page}}</canvas>
</div>
 

<!--affichage du fichier json qui contients les enregistrements-->     
<div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item">
  <h2 class="accordion-header" id="headingTwo">
    <button (click)="data()" 
    id="btn"  
    class="accordion-button collapsed" 
    type="button" data-bs-toggle="collapse"
     data-bs-target="#collapseTwo" 
       aria-expanded="false" 
     aria-controls="collapseTwo">
      <mat-label class="a2">Afficher les données</mat-label>
    </button>
  </h2>
  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    <div *ngIf="page==undefined || page=='' || page?.hits?.hits.length==0;then non else oui"></div>
    <ng-template #oui>
        <div class="container">
           <div class="panel">  
             <!--les données-->
           <a class="a3">total:{{page?.hits?.hits.length}}</a>
            <br>
            <br>
  
            <div *ngFor="let a of page?.hits?.hits">
              
          
              <p><em>IdOwner</em> : {{a._source.idOwner}}</p>
              <p><em>IdPost</em> : {{a._source.idPost}}</p>
              <p><em>DateOfInsertion</em> : {{a._source.dateOfInsertion}}</p>
              <p><em>DateOfPost</em> : {{a._source.dateOfPost}}</p>
              <p><em>FormattedDateOfPost </em> : {{a._source.formattedDateOfPost}}</p>
              <p><em>LangPost</em> : {{a._source.langPost}}</p>
              <p><em>Content</em> : {{a._source.content}}</p>
              <p><em>TreatedPost</em> : {{a._source.treatedPost}}</p>
              <p><em>UrlPost</em> : {{a._source.urlPost}}</p><p>
              <p><em>WebsiteUrl</em> : {{a._source.websiteUrl}}</p>
              <br>
              </div>
                
           </div>
       </div>  
       
    </ng-template>
    <ng-template #non>
      aucunes données!!!
    </ng-template>
  </div>
 
  </div>
</div>
 </div>
 <!--button pour le telechargement des données en csv-->

 <div *ngIf="getDownloadStatus()==true ;else el " > <p>   <button class="btn3" type="button" (click)="fileDowload()" [disabled]="page==undefined || page=='' || page?.hits?.hits.length==0"><mat-icon>save_alt</mat-icon> <mat-label class="a1"> Telecharger </mat-label> </button></div>
<ng-template  #el><p> 

  <button  class="btn btn-success" > <mat-icon>lock</mat-icon>Telecharger
  </button></p></ng-template>


 <!-- <button class="btn3" type="button" (click)="fileDowload()" [disabled]="page==undefined || page=='' || page?.hits?.hits.length==0"><mat-icon>save_alt</mat-icon> <mat-label class="a1"> Telecharger </mat-label> </button> -->

        </form>